*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 max-width: 100%;
}
#textlogo{
    color: white;
    padding-left: 30px;
    margin-top: 14px;
    font-weight: 400;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between; 
    height: 70px;
    z-index: 100;
}
#navlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Exo 2', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Teko', sans-serif;
font-size: 20px;
}
.nav-menu{
    width:980px;
    margin-top: 25px;
}
.navbar{
    background-color: rgb(13, 42, 91);
    position: fixed;
    border-radius: 15px;
}
.header{
    background-color: rgb(32, 64, 119);
}
.building{
width: 850px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around ;
    background-image: url("./ac/plan.webp");
}
.col-2{
    flex-basis: 50%;
    overflow: hidden;
}
#para{
    font-size: 4rem;
    color: rgb(0, 247, 218);
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
    line-height: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
#para2{
    font-size: 2rem;
    color: rgb(236, 245, 238);
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
.text{
    padding:80px; 
}
.btn{
    background-color:rgb(207, 207, 6);
    padding: 5px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 2.3rem;
    font-weight: bolder;
    border-radius: 5px;
}
.btn:hover{
    background-color: yellow;

}
#dreams{
    color: yellow;
}


.small{
    max-width: 1300px;
    margin-left: 120px;
    margin-right: 120px; 
    padding-left: 25px;
    padding-right: 25px;
}
.row{
     display: flex;
     align-items: center; 
     flex-wrap: wrap;
     justify-content: space-around ;
     width: 100%;
}
.col-3{
    overflow: hidden;
    flex-basis: 30%;
    padding: 3rem;
    border: 1px solid rgb(222, 216, 216);
    margin-top: 40px ;
    min-width: 350px;
    transition: transform 0.5s;
    background-color: #d9d9d9;
    box-shadow: 10px 10px 5px #d9d9d9;

}
/* our projects(Blue part) */
.categories{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.col-3 h1,h2,p{
    font-family: sans-serif;
    margin-bottom: 25px;
}
.small h1,h5{
    font-family: sans-serif;
}
#Solutions{
    color: green;
}
.small h1{
    font-size: 3rem;
}
.small h5{
    font-size: 1rem;
}
.col-3 h1{
    color: rgb(167, 163, 163);
}
.multi{
    margin: 25px;
}
#details{
    color: green;
}
.col-3:hover{
    border: 1px solid rgb(3, 50, 3);
    transform: translateY(-15px);
    background-color: #fcfbfb;
}
.col-2a{
    margin: 20px;
    object-fit:fill
}
.multi-a{
    color: white;
    margin: 25px;
    font-weight: 600;
}
#what{
    font-weight: 500;
}
.col-2a img{
    width: 30rem;
    transition: transform 0.3s;
}
.col-2a img:hover{
    transform: scale(1.09);
}

/* Footer */

.location{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}
.footsmall{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footrow{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 1300px;
}

.col-4{
    flex-basis: 25%;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
}
.col-4a{
    flex-basis: 25%;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
}
#footlogo,#sub{
    color: white;
    margin-top: 14px;
    font-weight: 400;
    
}
.col-4 h3{
    font-size: 1.7rem;
    margin-top: 14px;
}
.bullets{
    padding: 5px;
}
.footli{
    padding: 3px;
}
.bullets:hover{
    color: yellow;
}
.footli a:hover{
    color: yellow;
}
.contact{
    display: flex; 
    gap: 10px;
}
.phoneno,.address{
    min-width: 140px;
}
.phoneicon,.locicon{
    min-width: 30px;
}
.footlist li{
    font-size: 1.25rem;
}


.work{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-row{
    gap: 50px;
}
.col-2b{
    flex-basis: 47%;
}